/* The following line can be included in a src/App.scss */
@import "~bootstrap/scss/bootstrap";
@import "./custom.scss";

.login-form {
  background-color: #212121;
  width: 100%;
  max-width: 350px;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}

.standard-form {
  background-color: #212121;
  width: 100%;
  max-width: 350px;
  padding: 25px;
  margin: auto;
  border-radius: 10px;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  background-color: #212121;
  width: 100%;
  max-width: 350px;
  padding: 25px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.company-card {
  background-color: #212121;
  width: 100%;
  max-width: 350px;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

form, label, h1 {
  color: white !important;
}

body {
  padding-bottom: 70px;
}

.light-gray-box {
  background-color: #303030;
  border-radius: 4px;
  margin-left: 3px;
}

div.noPadding {
  padding-left: 0;
  padding-right: 0;
}

div.noMargin {
  margin-left: 0;
  margin-right: 0;
}